# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.*
!.env.example

# Flutter/Dart
.dart_tool/
.packages
.pub/
**/build/
ios/.generated/
packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/android/app/libs/
**/android/idea/
**/android/.gradle/
**/android/build/
**/android/local.properties

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
lib/generated_plugin_registrant.dart
